#socle {
    text-align: center;
}

.styled-button {
    background-color: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 15px 32px; /* Espacement intérieur */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime le soulignement */
    display: inline-block; /* Permet de définir des dimensions */
    font-size: 16px; /* Taille de la police */
    border-radius: 8px; /* Arrondir les coins */
    transition: background-color 0.3s ease; /* Animation de transition */
    cursor: pointer; /* Curseur de pointeur au survol */
}

.styled-button:hover {
    background-color: #45a049; /* Couleur au survol */
}

.container-reponse {
    text-align: center;
}