/* Contenu de la page */

#game{
	display: flex;
	flex-direction: column;
}

/* Tableau */

#answers_tab{
	display: grid; /* Active CSS Grid */
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 10px; /* Espacement entre les éléments (optionnel) */
	margin: 20px auto;
	color:black;
	background-color: var(--color-background);
}

.cell{
	width: 130px;
	height:40px;
	align-items: center;
	text-align: center;
	margin:10px;
}

.line{
	display: flex;
	/* background-color: var(--color-background); */
}

input{
	height:30px;
	border-radius: 3px;
	border-width: 1px;
	border-color: var(--color-header);
	border-style:solid;
}

/* Boutons */
.btn{
	display: block;
}
	
